* {
  margin: 0;
  padding: 0;
  border: 0;
}

h1 {
  margin-top: 50px;
  font-family: Arial, sans-serif;
  text-align: center;
}

p{
  font-family: Arial, sans-serif;
  font-size: 18px;
  margin-bottom: 4px;
}

button {
  font-family: Arial, sans-serif;
  font-size: 16px;
  padding: 4px;
  background-color: transparent;
  border: solid 1px #000;
  border-radius: 4px;
  margin-bottom: 8px;
}

button:hover {
  font-family: Arial, sans-serif;
  font-size: 16px;
  padding: 4px;
  color: red;
  border: solid 1px red;
  background-color: lightgrey;
  border-radius: 4px;
  margin-bottom: 8px;
}

hr {
  border: solid 1px grey;
  width: 330px;
  margin-bottom: 8px;
}

#main {
  margin-top: 20px;
  font-family: Arial, sans-serif;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.myForm {
  padding-top: 30px;
}

.formDiv {
  margin-left: 25px;
}

.myInput {
  font-family: Arial, sans-serif;
  font-size: 18px;
  margin-bottom: 12px;
  width: 280px;
}

.button2 {
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding: 4px;
  background-color: transparent;
  border: solid 1px #000;
  border-radius: 4px;
  margin-bottom: 12px;
}

.button2:hover {
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding: 4px;
  color: green;
  border: solid 1px green;
  background-color: lightgray;
  border-radius: 4px;
  margin-bottom: 12px;
}
